.descrption{
  width: 100%;
  height: 100%;
  background-image: url("../images/bgImg.gif");
  background-size: cover;
  background-repeat: none;
}
.descrption-light{
  width: 100%;
  height: 100%;
  background-image: url("../images/trail_2.gif");
  background-size: cover;
  background-repeat: none;
}
.typo-desciption{
    background-image: url("../images/bgImg.gif");
    background-size: cover;
    background-repeat: none;
      }
      
@media screen and (max-width: 480px) {
    .typo-desciption{
  background-image: url("../images/bgImg.gif");
  background-size: cover;
  background-repeat: none;
        padding: 2px !important;
    }
  }
