
.contact-us{
    width: 100%;
    height: 100%;
    background-image: url("../images/bgImg.gif");
    background-size: cover;
    background-repeat: none;
}
.drop-ms-typo{
    color: rgb(247, 76, 2);
}
@media screen and (max-width: 480px) {
    .contact-us-map-section{
        flex-direction: column !important;
    }
    .contact-us-map{
        width: 100% !important;
    }
    .social-icons{
        width: 100% !important;
        margin-top: 20px;
    }
}