b {
  position: relative;
  font-family:serif;
  font-size: 20px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #d60808, #e0d627, #f05502);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.loading-div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  background-image: url('./components/images/bgImg.svg') !important;
}

