*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("../src/components/images/bgImg.gif");
  background-size: cover;
  background-repeat: none;}

