*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("../src/components/images/bgImg.svg");
  background-size: cover;
  background-repeat: none;
}
.light-mode{
  width: 100%;
  height: 100%;
  background-image:none;
  background-color:white;
}
.css-ahj2mt-MuiTypography-root{
  font-size: 15px !important;
}

@media screen and (max-width: 480px) {
  .css-ahj2mt-MuiTypography-root{
    font-size: 13px !important;
  }
  h1 {
    font-size: 25px;
  }
}