@font-face {
  font-family: "ny";
  src: url("./NewYork.otf") format("opentype");
}

/* fonts used : ny, domain,cormorant garamond,playfair display sc, lato,outfit,poppins,
overpass,montserrat,work sans, nunito sans,source sans 3, philosopher,gloock,gilda display */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --color-primary: #f1ede6;
  --color-secondary: #c5a478;
  --color-gold-2: #dbbf94;
  --color-gold-1: #615342;
  --color-goldmatte: #d1ac76;
  --color-gold: #ddaa4a;
  --color-s1: #e3cea1;
  --color-white: #f2f0ec;
  --color-black: #0a0806;
  --color-grey-1: #d4cfc3;
  --color-grey-2: #68625b;
  --color-grey-3: #24231a;
  --font-neon-text-shadow: 0 0 10px rgba(255 233 0 / 50%),
    0 0 20px rgba(255, 233, 0, 0.5), 0 0 30px rgba(205, 169, 112, 0.5),
    0 0 40px rgba(255 233 0 / 50%);
}

/* .light {
  --color-primary: #C4BCB3;
  --color-secondary: #1e1812;
  --color-goldmatte: #ebc931a1;
  --color-gold: #dac71e;
  --color-s1: #e2be1d;
  --color-white: #1a1710;
  --color-black: #f2f0ec;
  --color-grey-1: #e8e4db;
  --color-grey-2: #64635e;
  --color-grey-3: #161614;
} */

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-primary);
  color: var(--color-gold-1);
  overflow-x: hidden;
  user-select: none;
}

a {
  color: var(--color-white);
}

header {
  position: fixed;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 6%;
}

#logo {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-logo {
  max-width: 85%;
  max-height: 85%;
  display: block;
  margin: auto;
  filter: brightness(1) contrast(0) grayscale(1);
}

header.sticky {
  box-shadow: 0 0 15px var(--color-gold);
  padding: 12px 6%;
  height: 48px;
  background: linear-gradient(#e7d5bc, #ffeedb);
}

section {
  padding: 5rem 9% 2rem;
  overflow-x: hidden;
}

/*Pages------------------------------------*/
.events-section {
  display: none;
  min-height: 100vh;
  background: var(--color-primary);
}

.subclubs-section {
  display: none;
  min-height: 100vh;
  background: var(--color-primary);
}

.alumni-section {
  display: none;
  min-height: 100vh;
  background: var(--color-primary);
}

.gallery-section {
  display: none;
  min-height: 100vh;
  background: var(--color-primary);
}

.teams-section {
  display: none;
  min-height: 100vh;
  background: var(--color-primary);
}

.contacts-section {
  display: none;
  min-height: 100vh;
  background: var(--color-primary);
}

/* Break Points *********************************************************/

/* 991px /////////////////////////////////////////////////*/
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }

  .navlist a {
    padding: 8px 15px;
  }

  .home-content {
    margin-top: 3rem;
  }

  .social-media {
    margin-top: 2rem;
  }

  .main-text h1 {
    text-align: center;
  }
}

/* 768px /////////////////////////////////////////////////*/
@media (max-width: 768px) {
  #menu-icon.bx-menu {
    margin: 0;
    display: block;
    transition: all 0.4s ease;
  }

  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }

  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    padding: 7.5%;
    transition: all 0.45s ease;
    background: var(--color-primary);
    padding-bottom: 10px;
    height: 62vh;
    align-items: flex-end;
    padding-top: 2rem;
    border-bottom: 3px solid var(--color-gold);
  }

  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  #nav-a1,
  #nav-a2,
  #nav-a3,
  #nav-a4,
  #nav-a5,
  #nav-a6,
  #nav-a7 {
    padding: 15px 20px;
  }

  .navlist.open {
    top: 100%;
    box-shadow: inset 0px 15px 10px -15px var(--color-gold);
  }

  #home {
    padding-top: 8.5rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 420px) {
  .html {
    font-size: 80%;
    overflow-x: hidden;
  }

  #about-img {
    width: 300px;
    height: 300px;
  }

  #home {
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }

  #home,
  #about,
  #skills,
  #portfolio,
  #testimonials,
  #contact,
  #projects,
  footer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .home-content p {
    margin-top: 4.5rem;
  }
}

/* Break Points *************************************************ENDS******/

/*Header---------------------------------------------------*/
span {
  color: var(--color-gold);
}

.navlist {
  display: flex;
}

.navlist a {
  color: #846f56;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.navlist a:hover {
  color: var(--color-secondary);
  text-shadow: var(--font-neon-text-shadow);
}

.navlist a.active {
  color: var(--color-secondary);
  text-shadow: var(--font-neon-text-shadow);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  color: #826139;
  border-radius: 3px;
  padding: 2px;
  display: none;
}

/*Header---------------------------------------------ENDS------*/

/*Hero section -------------------------------------------*/
.home {
  padding-bottom: 4rem;
  padding-top: 10rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home {
  background: radial-gradient(
      75% 75% at 50% 50%,
      rgba(0, 0, 0, 0.785) 0%,
      rgba(16, 16, 16, 0.75) 42%,
      rgb(13, 7, 7) 100%
    ),
    url(./img/bg2.webp) no-repeat center/cover;
}

.home::after {
  content: "scroll down...";
  position: absolute;
  top: 90%;
  color: #e9e3d583;
}

.home-content {
  z-index: 2;
}

#para1 {
  font-size: clamp(1.3rem, 2.8vw, 3rem);
  margin: 1rem;
  font-family: "Philosopher";
  color: var(--color-s1);
}

.section-heading {
  font-size: clamp(2.2rem, 7.1vw, 7.4rem);
  font-weight: 400;
  text-align: center;
  margin: 0.5rem;
  letter-spacing: 0.35em;
  color: var(--color-goldmatte);
  z-index: 2;
  font-family: "Gilda Display";
}

/*Hero section -------------------------------------ENDS------*/

/*About section -------------------------------------------*/
.about {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  background: var(--color-primary);
}

.about-img img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  box-shadow: 0 2px 10px var(--color-grey-3);
}

.heading {
  text-align: center;
  font-size: clamp(3.5rem, 5vw, 6rem);
  font-family: "ny";
  color: var(--color-gold-1);
  padding: 1%;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content p {
  font-size: 1rem;
  margin-top: 2rem;
  color: var(--color-grey-3);
}

@media (max-width: 991px) {
  #about {
    gap: 0;
  }

  .about {
    flex-direction: column-reverse;
  }

  #about-heading {
    text-align: center;
  }

  #my-about {
    text-align: center;
  }

  .about-img img {
    width: 400px;
    height: 400px;
  }

  .about-content p {
    margin-bottom: 5rem;
  }
}

/*About section -------------------------------------ENDS------*/

/*Past Guests -------------------------------------------------------------*/
.past-guests {
  padding-top: 3rem;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

#main-team {
  justify-content: center;
  align-items: center;
}

#team-section1 {
  display: flex;
  gap: 80px;
  justify-content: center;
  padding-top: 2rem;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.team-card {
  position: relative;
  margin: 1rem;
  max-width: 350px;
  text-align: center;
  line-height: 1.4em;
  font-size: 1rem;
  height: 500px;
}

.team-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team-card .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  aspect-ratio: 3/2;
  border: 2px solid var(--color-goldmatte);
  transition: all 0.3s ease-in-out;
}

.team-card .profile-image img {
  max-width: 100%;
  vertical-align: top;
  filter: sepia(0.3);
  transition: all 0.3s ease-in-out;
}

.team-card .profile-image:hover img {
  scale: 1.12;
  filter: sepia(0);
}

.team-card figcaption {
  width: 100%;
  height: 360px;
  background: transparent;
  color: var(--color-gold-1);
  font-family: "Philosopher";
  padding: 125px 15px 15px;
  margin-top: -100px;
  border-radius: 0.6rem;
  display: inline-block;
  box-shadow: inset 0 0 30px var(--color-goldmatte);
}

.team-card h3 {
  font-weight: 600;
  margin: 0 0 5px;
  font-size: 1.6em;
  font-family: "Gilda Display";
  font-weight: 700;
}

.team-card h4 {
  padding: 0.7rem;
  color: var(--color-grey-2);
  font-weight: 400;
  letter-spacing: 1.6px;
}

/*Footer ------------------------------------------------------------*/

#foot {
  padding: 1.5rem 5%;
  display: grid;
  gap: 30px;
  background: var(--color-gold-1);
  grid-template-columns: 2fr 1fr 1fr;
  text-align: left;
  box-shadow: inset 0 0 10px var(--color-goldmatte);
}

.foots {
  margin: 0.27rem;
}

.foots-down {
  grid-column: 1 / span 3;
  margin: auto 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.foots-down::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 2px;
  height: 2px;
  width: 200px;
  background: linear-gradient(to right, var(--color-goldmatte), transparent);
}

@media (max-width: 600px) {
  #footer-p {
    font-size: 90%;
  }

  #foot {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
  }
}

.bxs-heart {
  color: var(--color-gold);
}

#foot p,
#foot a,
#foot li {
  font-size: clamp(0.87rem, 1.2vw, 1.4rem);
  color: var(--color-grey-1);
  line-height: 20px;
  word-spacing: 1px;
  margin: 3px 0;
  font-family: "Montserrat";
}

#footer-heading {
  font-family: "Philosopher";
  margin: 4px 0;
  color: var(--color-goldmatte);
  font-size: clamp(1.1rem, 1.4vw, 1.6rem);
}

#foot a:hover {
  color: var(--color-gold);
}

.bx-tada {
  z-index: 0;
}

.arrow-up {
  display: inline-flex;
  justify-content: center;
  background: var(--color-secondary);
  padding: 0.4rem;
  border-radius: 50%;
}

.arrow-up:hover {
  background: var(--color-goldmatte);
}

.arrow-up i {
  font-size: 1.5rem;
  color: var(--color-grey-3);
}

/*Gallery----------------------------------------------------*/
#gallery-section-2 {
  padding: 8rem 2% 5rem;
}

#gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding-top: 2rem;
}

@media (max-width: 1200px) {
  #gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 800px) {
  #gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 600px) {
  #gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* #gallery img {
  width: 100%;
  height: auto;
  margin: 4% auto;
  box-shadow: -3px 5px 15px var(--color-grey-3);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s ease;
}

#gallery img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px var(--color-goldmatte);
} */

#gallery .image-wrapper {
  width: 100%;
  height: auto;
  margin: 0.4rem;
  object-fit: cover;
  object-position: center;
  box-shadow: -3px 5px 15px var(--color-grey-3);
  cursor: pointer;
  overflow: hidden;
}

#gallery .image-wrapper img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

#gallery .image-wrapper:hover img {
  transform: scale(1.08);
}

/*Events-------------------------------------------*/
#events-section-2 {
  padding: 8rem 5% 5rem;
}

/* ======== Article: Cards ========= */
.content {
  padding-top: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  position: relative;
  justify-self: center;
  background: radial-gradient(var(--color-primary), var(--color-gold-2));
  border-radius: 20px;
}

.card img.ui-preview {
  width: 100%;
  object-fit: cover;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  aspect-ratio: 1;
}

.card .ui-details {
  padding: 1rem 0;
  text-align: center;
  padding-bottom: 2rem;
}

.ui-details h4 {
  font-size: 1.35rem;
}

.btn {
  padding: 0.5rem 3rem;
  border-radius: 20px;
}

.card .btn-view {
  background: linear-gradient(
    to bottom,
    var(--color-gold-2),
    var(--color-goldmatte)
  );
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: bold;
}

.card .btn-view:hover {
  background: linear-gradient(
    to right,
    var(--color-gold-2),
    var(--color-goldmatte)
  );
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 410px) {
  .container {
    padding: 0 0.5rem;
  }

  article.content > .container {
    padding: 0 0.5rem;
  }
}

#teams-section-2 {
  padding: 8rem 2% 5rem;
}

.team-headings {
  text-align: center;
  padding: 1rem;
  font-family: "Philosopher";
  font-size: clamp(1.8rem, 3.5vw, 3.8rem);
  margin: auto;
}

.section-p {
  color: var(--color-gold-1);
  margin: auto;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  padding: 2rem 1rem;
}

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    60deg,
    #0c0c0cff 0%,
    #251d07ff 50%,
    #0c0c0cff 99%
  );
  position: fixed;
  opacity: 100%;
  visibility: visible;
  transition: opacity 0.75s ease, visibility 0.75s ease;
}

.book {
  --color: var(--color-goldmatte);
  --duration: 6.8s;
  width: 2rem;
  height: 1rem;
  position: relative;
}

.book .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  -webkit-animation: book var(--duration) ease infinite;
  animation: book var(--duration) ease infinite;
}

.book .inner .left,
.book .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}

.book .inner .left:before,
.book .inner .right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}

.book .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  -webkit-animation: left var(--duration) ease infinite;
  animation: left var(--duration) ease infinite;
}

.book .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  -webkit-animation: right var(--duration) ease infinite;
  animation: right var(--duration) ease infinite;
}

.book .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}

.book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}

.book ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--color);
  transform: rotateZ(0deg) translateX(-18px);
  -webkit-animation-duration: var(--duration);
  animation-duration: var(--duration);
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.book ul li:nth-child(0) {
  -webkit-animation-name: page-0;
  animation-name: page-0;
}

.book ul li:nth-child(1) {
  -webkit-animation-name: page-1;
  animation-name: page-1;
}

.book ul li:nth-child(2) {
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.book ul li:nth-child(3) {
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.book ul li:nth-child(4) {
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.book ul li:nth-child(5) {
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.book ul li:nth-child(6) {
  -webkit-animation-name: page-6;
  animation-name: page-6;
}

.book ul li:nth-child(7) {
  -webkit-animation-name: page-7;
  animation-name: page-7;
}

.book ul li:nth-child(8) {
  -webkit-animation-name: page-8;
  animation-name: page-8;
}

.book ul li:nth-child(9) {
  -webkit-animation-name: page-9;
  animation-name: page-9;
}

.book ul li:nth-child(10) {
  -webkit-animation-name: page-10;
  animation-name: page-10;
}

.book ul li:nth-child(11) {
  -webkit-animation-name: page-11;
  animation-name: page-11;
}

.book ul li:nth-child(12) {
  -webkit-animation-name: page-12;
  animation-name: page-12;
}

.book ul li:nth-child(13) {
  -webkit-animation-name: page-13;
  animation-name: page-13;
}

.book ul li:nth-child(14) {
  -webkit-animation-name: page-14;
  animation-name: page-14;
}

.book ul li:nth-child(15) {
  -webkit-animation-name: page-15;
  animation-name: page-15;
}

.book ul li:nth-child(16) {
  -webkit-animation-name: page-16;
  animation-name: page-16;
}

.book ul li:nth-child(17) {
  -webkit-animation-name: page-17;
  animation-name: page-17;
}

.book ul li:nth-child(18) {
  -webkit-animation-name: page-18;
  animation-name: page-18;
}

@-webkit-keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  13%,
  54% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  13%,
  54% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  14.74%,
  55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  14.74%,
  55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  16.48%,
  57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  16.48%,
  57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  18.22%,
  59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  18.22%,
  59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  19.96%,
  61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  19.96%,
  61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  21.7%,
  63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  21.7%,
  63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  23.44%,
  65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  23.44%,
  65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  25.18%,
  67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  25.18%,
  67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  26.92%,
  68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  26.92%,
  68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  28.66%,
  70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  28.66%,
  70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  30.4%,
  72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  30.4%,
  72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  32.14%,
  74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  32.14%,
  74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  33.88%,
  76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  33.88%,
  76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  35.62%,
  78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  35.62%,
  78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  37.36%,
  80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  37.36%,
  80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  39.1%,
  81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  39.1%,
  81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  40.84%,
  83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  40.84%,
  83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  42.58%,
  85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  42.58%,
  85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  44.32%,
  87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  44.32%,
  87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@-webkit-keyframes left {
  4% {
    transform: rotateZ(90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
  }

  46%,
  54% {
    transform: rotateZ(90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
  }

  96% {
    transform: rotateZ(90deg);
  }
}

@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
  }

  46%,
  54% {
    transform: rotateZ(90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
  }

  96% {
    transform: rotateZ(90deg);
  }
}

@-webkit-keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
  }

  46%,
  54% {
    transform: rotateZ(-90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
  }

  96% {
    transform: rotateZ(-90deg);
  }
}

@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
  }

  46%,
  54% {
    transform: rotateZ(-90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
  }

  96% {
    transform: rotateZ(-90deg);
  }
}

@-webkit-keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }

  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }

  46%,
  54% {
    transform: rotateZ(90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }

  96% {
    transform: rotateZ(-90deg);
  }
}

@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }

  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }

  46%,
  54% {
    transform: rotateZ(90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }

  96% {
    transform: rotateZ(-90deg);
  }
}

#content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#loader-text {
  position: fixed;
  margin: auto;
  color: #ddbe84;
  font-size: 3rem;
  letter-spacing: 4px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gilda Display";
  text-transform: uppercase;
}

@media (max-width: 500px) {
  #loader-text {
    font-size: 200%;
  }
}

/*Team cards----------------------------------------------*/
.teams-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.teams-card {
  width: 20%;
}

@media (min-width: 601px) and (max-width: 768px) {
  .teams-card {
    width: 40%;
  }

  .teams-cards-container {
    column-gap: 3rem;
  }
}

@media (min-width: 769px) and (max-width: 1110px) {
  .teams-card {
    width: 30%;
  }
}

.teams-card .profile-image-2 {
  display: flex;
  z-index: 1;
  position: relative;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.teams-card .profile-image-2 img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 25px var(--color-goldmatte);
  transition: all 0.3s ease;
}

.profile-image-2 img:hover {
  box-shadow: 0 0 40px var(--color-gold);
}

@media (max-width: 600px) {
  .teams-card .profile-image-2 img {
    height: 150px;
    width: 150px;
  }

  .teams-cards-container {
    column-gap: 3.5rem;
  }

  .teams-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
  }

  .teams-card figcaption {
    font-size: 87%;
    padding: 7.3rem 0 25px;
  }
}

.teams-card figcaption {
  width: 100%;
  color: var(--color-gold-1);
  padding: 7.3rem 0 25px;
  margin-top: -100px;
  border-radius: 0.5rem;
  text-align: center;
}

.teams-card h4 {
  margin: 0 0 5px;
}

.teams-card h3 {
  margin: 0 0 7px;
}

.teams-card h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: "Montserrat";
}

.teams-card h4 {
  color: var(--color-gold-1);
  font-weight: 500;
  letter-spacing: 2px;
}

.teams-cards-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}

/*Subclubs--------------------------------------------------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.blogs > :nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.blogs .blog {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.blogs .blog-hover {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease-in-out;
}

.blogs .blog:hover .blog-hover {
  opacity: 1;
}

.blogs .blog:hover {
  box-shadow: 1px 1px 20px var(--color-grey-3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

.blogs .blog:hover img {
  transform: scale(1.1);
  filter: sepia(0%);
  box-shadow: 0px 4px 15px var(--color-goldmatte);
}

.blogs .blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: sepia(20%);
  transition: all 0.4s ease-in-out;
  border: 2px solid var(--color-s1);
  border-bottom: 0;
}

.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}

.blogs .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.blogs .blog .blog-text h4:hover {
  color: var(--color-secondary);
}

.blogs .blog .blog-text p {
  color: var(--color-grey-2);
  font-family: "Philosopher";
  font-size: 1.2em;
  line-height: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1250px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 660px) {
  #blogs {
    display: flex;
    flex-direction: column;
  }
}

#hidden {
  background-color: #fff;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/*Register--------------------------------------------------------------------------*/

@-webkit-keyframes example {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes example {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

/* The mod's background */
#modalContent {
  line-height: 1.4;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #000;
}

@media (max-width: 550px) {
  #modalContent {
    font-size: 87%;
  }
}

.mod {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
}

/* Display the mod when targeted */

#id01 {
  z-index: 9999;
}

.mod:target {
  display: table;
  position: fixed;
}

/* The mod box */

.mod-dialog {
  display: table-cell;
  vertical-align: middle;
  transition: all 0.5s;
}

/* The mod's content */

.mod-dialog .mod-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(66, 98, 117, 0.418);
  border-radius: 0 20px 0 20px;
  /* Add animation */
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s;
  /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 1s;
  border: 1px solid var(--color-blue);
}

/* The button used to close the mod */

.mod-btn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: var(--color-gold-1);
}

.mod-btn:hover,
.mod-btn:focus {
  color: var(--color-gold);
  text-decoration: none;
  cursor: pointer;
}

.mod-container {
  padding: 2px 16px;
}

#mod-container {
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 5rem;
  border-bottom-left-radius: 20px;
  background: var(--color-primary);
}

.mod-hea {
  background-color: var(--color-s1);
  color: rgb(227, 255, 253);
  border-top-right-radius: 20px;
}

.mod-hea h2 {
  font-size: 2rem;
  padding: 5px;
  color: var(--color-gold-1);
}

@media (max-width: 550px) {
  #mod-container {
    padding: 1rem;
  }
}

/* contact section */
#contacts-section-2 {
  padding: 8rem 5% 5rem;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
input,
textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px var(--color-gold-1);
  max-width: 768px;
  margin: auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.underline {
  border-bottom: solid 2px var(--color-gold-1);
  margin: auto;
  width: 50%;
}

.icon_wrapper {
  margin: 2rem auto 0;
  width: 100%;
}

#icon {
  display: block;
  margin: 0 auto;
  width: 6rem;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px var(--color-gold-1);
  color: var(--color-gold-1);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
  width: 100%;
}

.name {
  float: left;
  width: 45%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: var(--color-secondary);
}

:-moz-placeholder {
  color: var(--color-secondary);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--color-secondary);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--color-secondary);
}

#form_button {
  letter-spacing: 3px;
  background: none;
  border: solid 2px var(--color-secondary);
  color: var(--color-gold-1);
  cursor: pointer;
  display: inline-block;
  font-family: "Philosopher";
  font-size: 1.3rem;
  font-weight: bold;
  outline: none;
  padding: 1rem 1.3rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: var(--color-gold-1);
  color: #f2f3eb;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type="text"],
  [type="email"],
  textarea {
    font-size: 0.875em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px;
  }

  .name {
    width: 100%;
  }

  .email {
    width: 100%;
  }
}

.btn-con {
  position: absolute;
  padding: 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  bottom: 50px;
  right: 5px;
}

.main-btn {
  margin: 1rem;
}

.btn-icon {
  color: var(--color-gold-1);
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 1rem;
  transition: all 0.3s ease;
}

.main-btn:hover .btn-icon {
  color: var(--color-gold);
}

@media (max-width: 700px) {
  .btn-con {
    position: inherit;
    font-size: 1.5rem;
  }

  .main-btn {
    margin: 2px;
  }

  .btn-icon {
    margin: 0;
    font-size: 1.8rem;
  }
}

/*Alumni----------------------------------------------*/
#alumni-section-2 {
  padding: 8rem 2% 5rem;
}

.profile-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  margin: 30px 0;
  color: black;
}

.profile-cards .cardx {
  width: 280px;
  height: 280px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
}

.profile-cards .cardx:hover .card-details {
  transform: none;
}

.profile-cards .cardx:hover img {
  filter: blur(3px);
  transform: scale(1.2);
}

.profile-cards .cardx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.profile-cards .cardx .card-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffdeab;
  transform: translateY(100%);
  transition: all 0.3s;
  text-align: center;
  color: var(--color-grey-3);
}

.profile-cards .cardx .card-details-title {
  font-size: 24px;
}

.card-details-p1 {
  font-weight: 600;
}

#alumni-last {
  height: 300px;
}

#ranabir {
  height: 400px;
}

/*Events modals-----------------------------*/
dialog {
  padding: 1rem 1rem;
  background: #ffe9c1;
  margin: auto;
  padding-top: 3rem;
  border-radius: 20px;
  border: 0;
  width: 800px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both;
  border: 3px solid var(--color-goldmatte);
}

dialog::-webkit-backdrop {
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

dialog::backdrop {
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

dialog .x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}

dialog .x:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

dialog p {
  font-size: 1.1rem;
  line-height: 1.65rem;
  padding: 3rem 1rem;
  font-family: "Philosopher";
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
